 .welcome {
   font-family: 'Raleway', sans-serif;
   display: block;
   position: fixed;
   width: 100%;
   background: $blue-c;
   z-index: 10;
   header {
     padding-top: 40px;
     .feedback {
       overflow: hidden;
       vertical-align: middle;
       margin-bottom: 40px;

       .logo {
         width: 173px;
         height: 63px;
         overflow: hidden;
       }
       .logo, .number-phone {
         float: left;
         margin-right: 220px;
         vertical-align: middle;
       }
       .number-phone {
         font-size: 20px;
         font-weight: bold;
         color: $white-c;
         line-height: 63px;
       }
       .main-button {
         float: right;
         button {
           color: $blue-c;
           background: $white-c;
           //line-height: 63px;
           cursor: pointer;
           font-size: 13px;
           font-weight: bold;
           border-radius: 15px;
           padding: 20px 30px;
         }
       }
     }
     nav {
       display: block;
       position: relative;
       text-align: center;
       ul {
         display: block;
         li {
           display: inline-block;
           margin-right: 80px;
           margin-bottom: 30px;
           a {
             color: $white-c;
             font-size: 22px;
           }
         }
         li:last-child {
           margin-right: 0;
         }
         //li:hover {
         //  font-weight: 600;
         //}
       }
     }

   }
 }
 .welcome:after {
   content: '';
   position: absolute;
   top: 198px;
   left: 0;
   width: 100%;
   height: 20px;
   background: url("../img/bottom-s-bg.png") 0 100% repeat-x;
 }
