body {
  font-family: sans-serif;
  position: relative;
  box-sizing: border-box;

  &::-webkit-scrollbar-track
  {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 5px;
  }

  &::-webkit-scrollbar
  {
    width: 10px;
    height: 100%;
    cursor: pointer;
  }

  &::-webkit-scrollbar-thumb
  {
    border-radius: 10px;
    background-image: url("../calculator-icon.png");
    background-size: 100%;
    background-repeat: no-repeat;
  }
}
.page-title {
  position: relative;
  margin: 20px 0 50px 0;
  &:active {
    content: '';
    bottom: -5px;
    left: -100px;
    position: absolute;
    width: 100%;
    height: 1px;
    max-width: 700px;
  }
}

input {
  padding: 7px 5px;
  outline: none;
}

.calculator {
  position: relative;
  max-width: 500px;
  margin: 0 auto;
}

.inputs-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  label {
    position: relative;
    margin-top: 40px;
    font-size: 14px;
  }

  label input {
    display: block;
    margin-top: 2px;
    transition: all 0.3s;
    &:focus {
      margin-top: 5px;
      border: 2px solid #236312;
    }
  }

  input:disabled {
    background-color: #ffffff;
    border: 1px solid rgb(238, 238, 238);
    box-shadow: none;
  }

  span {
    position: absolute;
    bottom: -15px;
    right: 0;
    font-size: 12px;
    color: gray;
    transition: all 0.5s;
  }
}

select {
  background-color: bisque;
  border: none;
  outline: none;

  padding: 7px 15px;
  margin-left: 125px;

  option[selected] {
    background-color: red;
    font-weight: bold;
    text-decoration: underline;
  }

  * {
    padding: 10px 15px;
    &:hover {
      background-color: #eee;
    }
  }
}

.extra-option {
  margin-top: 40px;

  label {
    display: block;
  }
}
.last-submit-line {
  display: flex;
  justify-content: flex-end;
  margin-top: 40px;
  button {
    background-color: bisque;
    border-radius: 8px;
    padding: 10px 15px;
    cursor: pointer;
    outline: none;
    &:active {
      box-shadow: inset 1.5px 1.5px 1px #888888;
    }
  }
}

.result-block {
  display: flex;
  justify-content: space-between;
  margin: 40px auto 75px auto;
  width: 100%;
  max-width: 1200px;
  opacity: 0;
  transition: all 1.5s;

  @media (max-width: 992px) {
    width: 90%;
    text-align: center;
  }

  @media (max-width: 840px) {
    overflow-x: scroll;

    &::-webkit-scrollbar-track
    {
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
      border-radius: 5px;
    }

    &::-webkit-scrollbar
    {
      width: 10px;
      height: 7px;
      cursor: pointer;
    }

    &::-webkit-scrollbar-thumb
    {
      border-radius: 10px;
      background-image: -webkit-gradient(linear,
              left bottom,
              left top,
              color-stop(0.50, rgb(122,153,217)),
              color-stop(0.5, rgb(22,127,146)));
    }
  }
}

.popup {
  position: absolute;
  top: 0;
  left: -2999px;
  width: 100%;
  height: auto;
  background-color: rgba(51, 51, 51, .6);
  transition: all 1.2s ease-in-out;
  opacity: 0;
  padding: 20px;
  box-sizing: border-box;
}

.pop-active {
  left: 0;
  opacity: 1;
}

.arrow-back {
  position: fixed;
  top: 50%;
  right: 10px;
  transform: translateY(-50%) rotate(180deg);
  font-size: 40px;
  padding: 80px 25px;
  transition: all 0.3s;
  cursor: w-resize;

  @media (max-width: 992px) {
    right: 0;
  }

  &:hover {
    background-color: rgba(197, 233, 243, 0.3);
  }
}

.active {
  opacity: 1;
  transition: all 0.5s;
}


// Default options for table style
$table-breakpoint: 480px;
$table-background-color: #FFF;
$table-text-color: #024457;
$table-outer-border: 1px solid #167F92;
$table-cell-border: 1px solid #D9E4E6;

// Extra options for table style (parse these arguments when including your mixin)
$table-border-radius: 10px;
$table-highlight-color: #EAF3F3;
$table-header-background-color: #167F92;
$table-header-text-color: #FFF;
$table-header-border: 1px solid #FFF;

// The Responstable mixin

@mixin responstable(
  $breakpoint: $table-breakpoint,
  $background-color: $table-background-color,
  $text-color: $table-text-color,
  $outer-border: $table-outer-border,
  $cell-border: $table-cell-border,
  $border-radius: none,
  $highlight-color: none,
  $header-background-color: $table-background-color,
  $header-text-color: $table-text-color,
  $header-border: $table-cell-border) {

  .responstable {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    background: $background-color;
    color: $text-color;
    border-radius: $border-radius;
    border: $outer-border;

    @media (max-width: 840px) {
      max-width: 830px;
      min-width: 830px;
    }

    tr {
      border: $cell-border;
      &:nth-child(odd) { // highlight the odd rows with a color
        background-color: $highlight-color;
      }
    }

    th {
      display: none; // hide all the table header for mobile
      border: $header-border;
      background-color: $header-background-color;
      color: $header-text-color;
      padding: 10px;
      &:first-child { // show the first table header for mobile
        display: table-cell;
        text-align: center;
      }
      &:nth-child(2) { // show the second table header but replace the content with the data-th from the markup for mobile
        display: table-cell;
        span {display:none;}
        &:after {content:attr(data-th);}
      }
      @media (min-width: $breakpoint) {
        &:nth-child(2) { // hide the data-th and show the normal header for tablet and desktop
          span {display: block;}
          &:after {display: none;}
        }
      }
    }

    td {
      display: block; // display the table data as one block for mobile
      word-wrap: break-word;
      max-width: 300px;
      width: min-content;
      &:first-child {
        display: table-cell; // display the first one as a table cell (radio button) for mobile
        text-align: center;
        border-right: $cell-border;
      }
      @media (min-width: $breakpoint) {
        border: $cell-border;
      }
    }

    th, td {
      text-align: left;
      margin: 10px 20px;
      @media (min-width: $breakpoint) {
        display: table-cell; // show the table as a normal table for tablet and desktop
        padding: 15px;
      }
    }

    tr:last-child {
      td {
        margin-top: 20px;
      }
    }
  }
}

// Include the mixin (with extra options as overrides)

@include responstable(
        $border-radius: $table-border-radius,
        $highlight-color: $table-highlight-color,
        $header-background-color: $table-header-background-color,
        $header-text-color: $table-header-text-color,
        $header-border: $table-header-border);

// General styles

body {
  font-family: Arial, sans-serif !important;
  color: #024457;
  background: #f2f2f2;
}

h1 {
  font-weight: normal;
  color: #024457;
  span {color: #167F92;}
}

#pdf {
  position: relative;
  left: 50%;
  color: #167F92;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  width: 120px;
  padding: 15px 10px;
  border: 1.5px solid #167F92;
  border-radius: 8px;
  font-weight: bold;
  transition: all 0.3s;
  cursor: pointer;
  overflow: hidden;
  margin-bottom: 78px;

  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #167F92;
    transition: all 0.5s;
    z-index: -1;
  }

  &:hover {
    color: #ffffff;
    border-color: #167F92;
    background-size: 100%;
    &:after {
      width: 100%;
      margin-left: 14px;
    }
  }
}



/* Absolute Center Spinner */
.loading {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: auto;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  visibility: hidden;
}

/* Absolute Center Spinner */
.loading {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: auto;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  visibility: hidden;
}

/* Transparent Overlay */
.loading:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.3);
}

/* :not(:required) hides these rules from IE9 and below */
.loading:not(:required) {
  /* hide "loading..." text */
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.loading:not(:required):after {
  content: '';
  display: block;
  font-size: 20px !important;
  width: 20px;
  height: 20px;
  margin-top: -0.5em;
  animation: spinner 1500ms infinite linear;
  border-radius: 0.5em;
  box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) -1.5em 0 0 0, rgba(0, 0, 0, 0.75) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
}

/* Animation */

@keyframes spinner {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.details-container {
  position: relative;
  max-width: 1200px;
  margin: 0 auto 40px auto;
  transition: all 0.5s;
  min-height: 201px;
  overflow: hidden;
  padding-top: 16px;

  .title-details {
    position: relative;
    z-index: 9;
    padding: 15px 100px 15px 20px;
    border: 1.5px solid #024457;
    cursor: pointer;
    transition: all 0.5s;
    background-color: #7E7E7E;
  }

  .title-details.plus:after {
    content: '+';
    font-size: 35px;
    font-weight: 300;
    position: absolute;
    top: 4px;
    right: 15px;
    transition: all 0.5s;
  }

  .title-details.minus:before {
    content: '_';
    font-size: 35px;
    font-weight: 300;
    position: absolute;
    top: -13px;
    right: 15px;
    transition: all 0.5s;
  }

  .details-content {
    position: absolute;
    top: -500px;
    width: 295px;
    border: 1.5px solid #024457;
    border-top: none;
    transition: all 1s;
    margin-top: 35px;
    padding: 15px 20px;
    background-color: #167F92;

    opacity: 0;

    li {
      display: flex;
      justify-content: space-between;
      margin-top: 15px;
      color: #ffffff;
    }
  }
}

.extra-info-active {
  top: 0 !important;
}

